<h2>My list <%= @list.name %> </h2>
<ul>
  <% @list.bookmarks.each do |b| %>
    <li><%= b.movie.title %> - <%= b.comment %>
        <%= image_tag 'https://image.tmdb.org/t/p/w500/'+b.movie.poster_url, alt: "Poster du film", width: 200 %>
    </li>
  <% end %>
</ul>
<%= link_to "Add", new_list_bookmark_path(@list) %>
<br>
<%= link_to "Lists", root_path %>
